.system-serif {
  font-family: "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif",
    "Times", "Source Serif Pro", serif;
}
.system-mono {
  font-family: "SF Mono", "Monaco", "Inconsolata", "Fira Mono",
    "Droid Sans Mono", "Source Code Pro", monospace;
}
.system-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input:focus {
  outline: none;
}

input::placeholder {
  padding-right: .25em;
  width: 100%;
  position: relative;
  font-weight: normal;
}

.price:before {
  content: "€ ";
  font-weight: normal;
  font-size: .75em;
}

.filter-item {
  color: gray;
}

.filter-item.is-active {
  color: black;
}
